<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                
            </div>
            <div class="projects-container">
                

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/food.jpg" alt="Ener Tracker">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">MongoDB</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">VS Code </span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Online Food Delivery Application</h3>
                        <p class="project-description">
                            Built a full stack online food delivery application for a small restruant business with admin panel that manages the food and orders.
                        </p>
                        <div class="project-links">
                            <a href="#" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/billing.jpg" alt="Freelance retail billing software">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">VS Code</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Billing Software</h3>
                        <p class="project-description">
                            Built a freelance retail product that automate the billing system.
                        </p>
                        <div class="project-links">
                            <a href="#" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/chat.jpg" alt="chat application">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Web Sockets</span>
                            <span class="project-tag">VS Code</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Chat Application</h3>
                        <p class="project-description">
                            Built a chat application where we can create and join room's and chat with our friends.
                        </p>
                        <div class="project-links">
                            <a href="#" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/album.jpg" alt="albums controller">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">VS Code</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Album Manager</h3>
                        <p class="project-description">
                            Built an album manager where we can create an album and store our photos.
                        </p>
                        <div class="project-links">
                            <a href="#" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/blog.jpg" alt="blog application">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">VS Code</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Blog Application</h3>
                        <p class="project-description">
                            Built a blog management system which handles user management system , blog management and role based user access.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/kishorbongu226/blog-application" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://blog-application-nbm9.onrender.com/" class="project-link">
                                Live Website <i class="fas fa-arrow-right"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/od.jpg" alt="od management">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">VS Code</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">OD Management</h3>
                        <p class="project-description">
                            Built an Od management system for our sathyabama university where the role based access is present , event management and attendence management is preseent.
                        </p>
                        <div class="project-links">
                            <a href="#" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                
                

            </div>
        </div>
    </section>
</th:block>
</html>